.details{
    border: 3px solid rgb(219, 137, 90);
}

.user-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width:350px;
    height:350px;
}

.heading{
    font-size: 60px;
    text-align: center;
    color:rgb(15, 208, 214);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text1{
    font-size: 25px;
    color: bisque;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text2{
    font-size: 25px;
    color:rgb(7, 7, 7);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text3{
    font-size: 20px;
    color:rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
