<br>
<div class="bg">
    <img src="../../../../assets/r-bg3.webp" style="width:100%;">
    <div class="text-block">
        <div class="block-heading">
            <img class="logo-img" src="assets/PF72.png">
            <h2 style="text-align: center;"><b><i class="fa fa-user-plus"></i>&nbsp;GET STARTED WITH US</b></h2>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email Address</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email Address is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="Country">Country</label>
                <input type="text" formControlName="country" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.country.errors }" />
                <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                    <div *ngIf="f.country.errors.required">Country is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="contact">Contact Number</label>
                <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }" />
                <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
                    <div *ngIf="f.contact.errors.required">Contact Number is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password</label>
                <input type="password" formControlName="cpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" />
                <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
                    <div *ngIf="f.cpassword.errors.required">Confirm Password is required</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Register
                </button> &nbsp;&nbsp;
                <button [disabled]="loading" class="btn btn-danger">
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>
<br>