<br><br><br>
<div class="row">
    <div class="col-md-5">
        <div class="heading">
            Who Are We ?
        </div>
        <div class="content">
            We are online service providers who provide a best platform to small scaled business owners and freelancers.
            This is to encorage people to support home-based business or occupations.
            We found that there are lot of entrepreneurs who does business in Social Media platforms. Not everyone is
            capable of creating
            there own personalized website/ apps. So inorder to support them <b>PATHFINDER</b> is introduced. Not only
            entrepreneurs but also
            we supports freelancers to post their services. There are lots of freelancers rather than IT and business
            fields are available
            throught the world. So, they can facilitate their job with the help of us.
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-5">
                <img class="AU-img" src="assets/AU1.png">
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <img class="AU-img" src="assets/AU2.png">
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
<br><br><br>
<div class="row">
    <div class="col-md-7">
        <img class="cover-img" src="assets/cover1.png">
    </div>
    <div class="col-md-5">
        <div class="heading">
            What We Do ?
        </div>
        <div class="content2">
            <ul style="list-style-type:disc;">
                <li>Freelancers can register themselves, they will be given a personalized page for them.</li><br>
                <li>Entrepreneurs can register themselves, they will be given a personalized page and they can 
                    add their products there.</li><br>
                <li>Other than the freelancers and entrepreneurs, orinary users of PathFinder can book for a freelancer service or
                    buy products from the entrepreneurs.
                </li>
            </ul>
        </div>
    </div>
</div>
<br><br><br>