<br><br><br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <input type="text" name="email" formControlName="email" class="form-control"
            placeholder="&#xF002;  Search Business......................" style="font-family:Arial, FontAwesome" />
    </div>
    <div class="col-md-2"></div>
    <br><br>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <div class="card m-3">
                    <img class="card-image" src="assets/cover3.jpg">
                    <div class="card-body">
                        <h4><b class="card-title">Business Name</b></h4>
                        <h5 class="card-text1"><b>Type of Business</b>
                        </h5>
                        <h6 class="card-text"><i class="fa fa-phone"></i>&nbsp;Phone No
                        </h6>
                        <h6 class="card-text"><i class="fa fa-envelope"></i>&nbsp;Email Address
                        </h6>
                        <p class="card-description">Description&nbsp;</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="javascript: void(0)" target="_blank"  [routerLink]="['/public-business']">
                            More Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3">
                    <img class="card-image" src="assets/cover3.jpg">
                    <div class="card-body">
                        <h4><b class="card-title">Business Name</b></h4>
                        <h5 class="card-text1"><b>Type of Business</b>
                        </h5>
                        <h6 class="card-text"><i class="fa fa-phone"></i>&nbsp;Phone No
                        </h6>
                        <h6 class="card-text"><i class="fa fa-envelope"></i>&nbsp;Email Address
                        </h6>
                        <p class="card-description">Description&nbsp;</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="javascript: void(0)" target="_blank" [routerLink]="['/public-business']">
                            More Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3">
                    <img class="card-image" src="assets/cover3.jpg">
                    <div class="card-body">
                        <h4><b class="card-title">Business Name</b></h4>
                        <h5 class="card-text1"><b>Type of Business</b>
                        </h5>
                        <h6 class="card-text"><i class="fa fa-phone"></i>&nbsp;Phone No
                        </h6>
                        <h6 class="card-text"><i class="fa fa-envelope"></i>&nbsp;Email Address
                        </h6>
                        <p class="card-description">Description&nbsp;</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="javascript: void(0)" target="_blank" [routerLink]="['/public-business']">
                            More Details
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card m-3">
                    <img class="card-image" src="assets/cover3.jpg">
                    <div class="card-body">
                        <h4><b class="card-title">Business Name</b></h4>
                        <h5 class="card-text1"><b>Type of Business</b>
                        </h5>
                        <h6 class="card-text"><i class="fa fa-phone"></i>&nbsp;Phone No
                        </h6>
                        <h6 class="card-text"><i class="fa fa-envelope"></i>&nbsp;Email Address
                        </h6>
                        <p class="card-description">Description&nbsp;</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="javascript: void(0)" target="_blank" [routerLink]="['/public-business']">
                            More Details
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
