<br><br>
<div class="main-heading">
    Welcome to Teen's World !!
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <img class="cover-img" src="assets/b-cover.png">
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <div class="heading">
            &nbsp;&nbsp;&nbsp;Products
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="card m-3">
            <img class="card-image" src="assets/Product.png">
            <div class="card-body">
                <h4><b class="card-title">Product Name</b></h4>
                <h5 class="card-text1"><b>Price</b>
                </h5>
                <h6 class="card-text">Size
                </h6>
                <p class="card-description">Description&nbsp;</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="javascript: void(0)" target="_blank" [routerLink]="['/product']">
                    More Details
                </a>
                <a class="btn btn-success" href="javascript: void(0)" target="_blank">
                  Add to Cart
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-3">
            <img class="card-image" src="assets/Product.png">
            <div class="card-body">
                <h4><b class="card-title">Product Name</b></h4>
                <h5 class="card-text1"><b>Price</b>
                </h5>
                <h6 class="card-text">Size
                </h6>
                <p class="card-description">Description&nbsp;</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="javascript: void(0)" target="_blank" [routerLink]="['/product']">
                    More Details
                </a>
                <a class="btn btn-success" href="javascript: void(0)" target="_blank">
                  Add to Cart
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-3">
            <img class="card-image" src="assets/Product.png">
            <div class="card-body">
                <h4><b class="card-title">Product Name</b></h4>
                <h5 class="card-text1"><b>Price</b>
                </h5>
                <h6 class="card-text">Size
                </h6>
                <p class="card-description">Description&nbsp;</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="javascript: void(0)" target="_blank" [routerLink]="['/product']">
                    More Details
                </a>
                <a class="btn btn-success" href="javascript: void(0)" target="_blank">
                  Add to Cart
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card m-3">
            <img class="card-image" src="assets/Product.png">
            <div class="card-body">
                <h4><b class="card-title">Product Name</b></h4>
                <h5 class="card-text1"><b>Price</b>
                </h5>
                <h6 class="card-text">Size
                </h6>
                <p class="card-description">Description&nbsp;</p>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" href="javascript: void(0)" target="_blank" [routerLink]="['/product']">
                    More Details
                </a>
                <a class="btn btn-success" href="javascript: void(0)" target="_blank">
                  Add to Cart
                </a>
            </div>
        </div>
    </div>
</div>
<br><br>
